@font-face {
  font-family: 'Cramaten'; /* по этому имени мы будем обращаться к шрифтц*/
  src: url('fonts/Cramaten'); /* URL по которому лежит шрифт */
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;

}

body {
  background-color: #000000;
  font-family: 'Cramaten';
}

header {
  display: flex;
  width: 1280px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-top: 40px;
}

main {
  width: 1280px;
  margin: 0 auto;
}

footer {
  width: 1280px;
  margin: 0 auto;
  margin-top: 150px;
  border-top: 2px solid red;
}

.footer-info {
  display: flex;
}

footer nav {
  margin-top: 48px;
}

.footer-block1 h2 {
  margin-bottom: 48px;
}

.footer-info p {
  color: #FFFFFF;
  font-size: 30px;
  font-weight: 400;
  font-family: 'Neue Haas Unica';
}

.all-rights {
  color: #FFFFFF;
}

footer nav {
  display: flex;
  justify-content: space-between;
}

footer ul li a {
  color: #FFFFFF;
  font-size: 30px;
  font-weight: 400;
  font-family: 'Neue Haas Unica';
  text-decoration: none;
  padding-bottom: 18px;
}

footer ul li {
  padding-bottom: 15px;
}

footer h2 a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 60px;
  font-weight: 400;
}

.all-rights {
  color: #FFFFFF;
  font-size: 30px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin: 100px auto 40px auto;
  position: relative;
  text-align: center;
}

.all-rights::before,
.all-rights::after {
  content: "";
  display: inline-block;
  width: 20%; /* Розділіть на дві рівні частини (ліва та права половини) */
  height: 1px; /* Товщина полоски */
  background-color: red; /* Колір полоски */
  position: absolute;
  top: 51%;
  transform: translateY(-50%);
}

.all-rights::before {
  left: 250px; /* Ліва полоска */
}

.all-rights::after {
  right: 250px; /* Права полоска */
}

.all-rights span {
  font-family: 'Neue Haas Unica';
}

.header-menu {
  width: 816px;
}

.header-menu>ul>li {
  color: #FFFFFF;
  list-style: none;
  font-size: 30px;
  font-weight: 400;
  margin-left: 60px;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.header-menu>ul {
  display: flex;
  padding-left: 109px;
  margin-top: 5px;
}

.header-menu a {
  text-decoration: none;
  color: #FFFFFF;
}

.header-menu ul li ul {
  list-style-type: none;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 2;
}

.header-menu ul li ul li {
  width: 100%;
  color: #9F9F9F;
  width: 150px;
}

.header-menu ul li:hover > ul {
  display: flex;
  flex-direction: column;
 
}

.header-menu ul li:hover > ul li a {
  color: #9F9F9F;
}

.header-menu ul li {
  position: relative;
  height: 40px;
}

.header-menu ul li ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity .4s ease, visibility .5s ease;
}

.header-menu ul li:hover > ul,
.header-menu ul li ul:hover {
  opacity: 1;
  visibility: visible;
}

.btn-head {
  width: 165px;
  height: 44px;
  border-radius: 30px;
  border: 1px solid #FF0000;
  background: rgba(255, 0, 0, 0);
  cursor: pointer;
  color: #FFFFFF;
  font-size: 30px;
  font-family: 'Cramaten';
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  justify-content: center;
  padding-bottom: 1px;
}

h1 {
  font-size: 120px;
  color: #ffffff;
  font-weight: 400;
}

article {
  width: 1280px;
  margin: 0 auto;
}

.section1 {
  position: relative;
}

.section1 h1 {
  font-size: 120px;
  font-weight: 400;
}

.section1 p {
  color: #FFFFFF;
  width: 469px;
  height: 240px;
  font-size: 24px;
  font-weight: 300;
  font-family: 'Neue Haas Unica';
  line-height: 24px;
}

.section1-img {
  width: 840px;
  height: 1024px;
  position: absolute;
  bottom: 143px;
  top: -142px;
  right: -119px;
  z-index: -1;
}

.section1::before {
  content: "";
  position: absolute;
  bottom: -245px;
  left: 557px;
  width: 66%;
  height: 30%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1.9));
}

.section1 h1 {
  padding-top: 132px;
}

.section1 p {
  margin: 48px 0;
}

.section2 {
  margin-top: 424px;
  text-align: center;
}

.h1 {
  margin: 0 auto 48px auto;
  font-size: 120px;
  font-weight: 400;
}

.section2-2 {
  display: none;
}

.h1{
  display: flex;
  justify-content: center;
}

.section2-3 {
  display: none;
}

.section2-4 {
  display: none;
}

.main-p {
  color: #FFFFFF;
  font-family: 'Neue Haas Unica';
  font-weight: 300;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  width: 100%;
  text-align: justify;
}

.section2 img{
  width: 100%;
}

.menu_section2 {
  color: #FFFFFF;
  text-align: center;
}

.menu_section2 h2 {
  font-weight: 400;
  font-size: 60px;
  display: inline-block; 
  margin: 0 50px;
  margin-bottom: 100px;
  cursor: pointer;
}

.menu-mini_section2 {
  display: flex;
}

.menu-mini_section2 h3 {
  color: #ffffff;
  font-weight: 400;
  font-size: 60px;
  text-align: start;
}

.section2-details {
  margin-left: 48px;
}

.active-menu_section2 {
  border-bottom: 2px solid red;
}

.main-page-ornament-img {
  margin: 150px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section3 h1 {
  margin-bottom: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section3-details {
  display: flex;
}

.section3-details img {
  margin-left: 48px;
}

.section4-details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.section4 h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  margin-bottom: 100px;
}

.our-values h2 {
  color: #FF0000;
  font-weight: 400;
  font-size: 60px;
}

.our-values p {
  color: #FFFFFF;
  font-weight: 300;
  font-size: 18px;
  text-align: justify;
  font-family: 'Neue Haas Unica';
  display: block;
  width: 300px;
  line-height: 18px;
}

.section5 {
  margin-top: 50px;
}

.section-dzura {
  margin-top: 150px;
}

.section-dzura2 {
  color: #ffffff;
  font-family: 'Neue Haas Unica';
  font-weight: 500;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  margin: 150px auto 150px auto;
  width: 80%;
}

.section-dzura4 {
  margin-top: 100px;
}

.section-dzura4 h1 {
  margin-bottom: 100px;
}

.main-p-dzura a {
  color: #FF0000;
}

.section-HowToJoin1 {
  margin: 150px auto 200px auto;
}

.section-HowToJoin2 img {
  display: flex;
  margin: auto;
}

.section-SHVD1 {
  margin: 150px auto;
}

.section2-details {
  text-align: center;
}

.main-p img {
  vertical-align: middle;
  display: inline-block;
  margin-right: 50px;
}

.shvd-img-p-mini {
  display: flex;
}

.shvd-img-p-mini img {
  height: 32px;
  width: 32px; 
}

.shvd-menu-mini_section2 img{
  margin-right: 40px;
}

.section-SHVD2-paragraf {
  color: #ffffff;
  font-family: 'Neue Haas Unica';
  font-weight: 300;
  font-size: 24px;
  line-height: 24px;
  text-align: justify;
  width: 680px;
  margin-top: 48px;
}

.section-SHVD3-details {
  display: flex;
  justify-content: space-between;
}

.SHVD3-key-features {
  margin-bottom: 50px;
}

.SHVD3-key-features p {
  width: 450px;
  padding-top: 18px;
}

.section-SHVD3 {
  width: 1100px;
  margin: 112px auto 0 auto;
}

.section-SHVD3-main-p {
  color: #ffffff;
  font-family: 'Neue Haas Unica';
  font-weight: 500;
  font-size: 30px;
  line-height: 30px;
  margin: 0px auto 100px auto;
  width: 839px;
  text-align: center;
}

.section-SHVD4 {
  margin-top: 130px;
}

.menu-mini_section5 img {
  width: 680px;
  height: 750px;
}

.section-SHVD5 {
  margin-top: 150px;
  margin-bottom: 100px;
}

/* alert */

.custom-alert {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 750px;
  height: 476px;
  width: 100%;
  background-color: black;
  border: #000000;
  z-index: 5;
}

.close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  width: 36.3px;
  height: 36.3px;
  font-size: 24px;
  color: #ff0000;
}

.custom-alert h1 {
  color: #F0F0F0;
  font-weight: 400;
  font-size: 60px;
  line-height: 66px;
  padding-top: 40px;
}

.custom-alert-mini {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.custom-alert-mini input {
  width: 95%;
  height: 48px;
  margin-bottom: 33px;
  border: none;
  border-bottom: 1px solid #FF0000;
  background-color: #000000;
  font-size: 30px;
  font-weight: 400;
  font-family: 'Cramaten';
  padding-left: 20px;
  color: #ffffff;
  letter-spacing: 3px;
  outline: none;
}

.custom-alert-mini input:focus {
  border-bottom: 1px solid rgb(255, 255, 255);
  color: rgb(255, 0, 0); /* Колір тексту при фокусі */
}

.custom-alert-mini button {
  margin-top: 17px;
}
