@font-face {
  font-family: 'Cramaten'; /* по этому имени мы будем обращаться к шрифтц*/
  src: url('fonts/Cramaten'); /* URL по которому лежит шрифт */
}

* {
  margin: 0;
  padding: 0;

}

body {
  background-color: #000000;
  font-family: 'Cramaten';
}

header {
  display: flex;
  width: 1280px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-top: 40px;
}

main {
  width: 1280px;
  margin: 0 auto;
}

.header-menu {
  width: 816px;
}

.header-menu>ul>li {
  color: #FFFFFF;
  list-style: none;
  font-size: 30px;
  font-weight: 400;
  margin-left: 60px;
  cursor: pointer;
}

.header-menu>ul {
  display: flex;
  padding-left: 109px;
  margin-top: 5px;
}

.btn-head {
  width: 165px;
  height: 44px;
  border-radius: 30px;
  border: 1px solid #FF0000;
  background: rgba(255, 0, 0, 0);
  cursor: pointer;
  color: #FFFFFF;
  font-size: 30px;
  font-family: 'Cramaten';
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  justify-content: center;
  padding-bottom: 1px;
}

h1 {
  font-size: 120px;
  color: #ffffff;
  font-weight: 400;
}

article {
  width: 1280px;
  margin: 0 auto;
}

.section1 {
  position: relative;
}

.section1 h1 {
  font-size: 120px;
  font-weight: 400;
}

.section1 p {
  color: #FFFFFF;
  width: 469px;
  height: 240px;
  font-size: 24px;
  font-weight: 300;
  font-family: 'Neue Haas Unica';
  line-height: 24px;
}

.section1 img {
  width: 840px;
  height: 1024px;
  position: absolute;
  bottom: 143px;
  top: -142px;
  right: -119px;
  z-index: -1;
}

.section1::before {
  content: "";
  position: absolute;
  bottom: -238px;
  left: 557px;
  width: 66%;
  height: 30%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1.9));
}

.section1 h1 {
  padding-top: 132px;
}

.section1 p {
  margin: 48px 0;
}

.section2 {
  margin-top: 424px;
  text-align: center;
}

.h1 {
  margin: 0 auto 48px auto;
  font-size: 120px;
  font-weight: 400;
}

.main-p {
  color: #FFFFFF;
  font-family: 'Neue Haas Unica';
  font-weight: 300;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  width: 100%;
  text-align: justify;
}

.section2 img{
  width: 100%;
}

.menu_section2 {
  color: #FFFFFF;
  text-align: center;
}

.menu_section2 h2 {
  font-weight: 400;
  font-size: 60px;
  display: inline-block; 
  margin: 0 50px;
  margin-bottom: 100px;
}

.menu-mini_section2 {
  display: flex;
}

.menu-mini_section2 h3 {
  color: #ffffff;
  font-weight: 400;
  font-size: 60px;
  text-align: start;
}

.section2-details {
  margin-left: 48px;
}

.active-menu_section2 {
  border-bottom: 2px solid red;
}

.main-page-ornament-img {
  margin: 150px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section3 h1 {
  margin-bottom: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section3-details {
  display: flex;
}

.section3-details img {
  margin-left: 80px;
}

.section4-details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.section4 h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  margin-bottom: 100px;
}

.our-values h2 {
  color: #FF0000;
  font-weight: 400;
  font-size: 60px;
}

.our-values p {
  color: #FFFFFF;
  font-weight: 300;
  font-size: 18px;
  text-align: justify;
  font-family: 'Neue Haas Unica';
  display: block;
  width: 300px;
  line-height: 18px;
}

.section5 {
  margin-top: 50px;
}


